body {
    padding: 0px;
    margin: 0px;
    height: 3600px;
    background-color: darkgray;
}
.upper_title {
    position:absolute;
    margin-top: 97px;
    z-index: 202;
}
.lower_title1 {
    margin-top: 100px;
    position: absolute;
    z-index: 201;
    margin-left: 4px;
    color: rgba(120, 88, 0, 0.727);
}
.lower_title2 {
    margin-top: 94px;
    position: relative;
    margin-left: 5px;
    color: rgba(218, 182, 3, 0.694);
}
.zlato1 {
    position: absolute;
    font-size: 23px;
    margin-top: -140px;
    margin-left: 457px;
    color: rgb(187, 159, 0);
    font-family: Dancing Script;
    white-space: nowrap;
    }
.zlato2 {
    position: absolute;
    font-size: 23px;
    margin-top: -140px;
    margin-left: 456px;
    color: black;
    font-family: Dancing Script;
    white-space: nowrap;
    }
    

.flexbox {
    margin-left: 180px;
    margin-right: 180px;
    justify-content: right;
    display: flex;
    flex-direction: row;

}
.images {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.image1 {
    width: 100%;
    z-index: 100;
}
.header_picture {
    z-index: 100;
    position: absolute;
    width: 100%;
}
@media (max-width: 1082px) {
    body {
        width: 1082px;
        padding: 0px;
        margin: 0px;
        height: 3600px;
        background-color: darkgray;
    }
    .flexbox {
        width: 75%;
        margin: 0px;
        margin-left: 5px;
        position: absolute;
        justify-content: right;
        
        display: flex;
        flex-direction: row;
    
    }
    .images {
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: 100;
    }
    .no_breaking_space {
        white-space: nowrap;
    }
   

}
